<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Alternative MD {{reviewer}}</title>
    <!--TODO expand variables to insert reviewer name here-->
  <meta name="description" content="Alternative Movie Database">
  <meta name="author" content="Ondrej Marek">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <!-- <script src="js/scripts.js"></script> -->
